<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">{{vm.titulo}}</h1>
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="emissao">Data</label>
            <span readonly class="form-control text-right">&nbsp;{{vm.registro.data | date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
        <div class="form-group col-md-3">
            <label for="valorTotal">Valor Total</label>
            <span readonly class="form-control text-right">{{vm.registro.valorTotal | number:2}}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="cliente">Cliente</label>
        <select ng-class="{'is-invalid': vm.error.cliente}" ng-options="item as item.nome for item in vm.clientes track by item.id"
            ng-model="vm.registro.cliente" class="form-control">
        </select>
        <small ng-if="vm.error.cliente" class="invalid-feedback">
            {{vm.error.cliente[1]}}
        </small>
    </div>
</form>
<div class="table-responsive">
    <div class="text-left ">
        <button ng-click="vm.novoItem()" data-toggle="modal" data-target="#formItem" type="button" class="btn btn-sm btn-primary">
            <i class="fas fa-plus"></i>
            <span>Serviço</span>
        </button>
    </div>
    </p>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Serviço</th>
                <th>Descrição</th>
                <th class="text-right">Quantidade</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.registro.itens">
                <td>{{item.servico.id}}</td>
                <td>{{item.servico.descricao}}</td>
                <td class="text-right">{{item.quantidade | number: 2}}</td>
                <td class="text-right">{{item.valorUnitario | number: 2}}</td>
                <td class="text-right">{{item.valorTotal | number: 2}}</td>
                <td class="text-right">
                    <button ng-click="vm.editarItem(item)" data-toggle="modal" data-target="#formItem" class="btn btn-sm btn-link py-0">
                        <i class="far fa-edit"></i>
                    </button>
                    <button ng-click="vm.excluirItem(item)" class="btn btn-sm btn-link text-danger py-0">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-row justify-content-end">
    <button type="button" ng-click="vm.salvar()" class="btn btn-primary mr-2">Salvar</button>
    <a ui-sref="Pacotes" class="btn btn-danger">Cancelar</a>
</div>
<!-- Modal de Itens -->
<div class="modal fade" id="formItem" tabindex="-1" role="dialog" aria-labelledby="formItem" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item do Pacote</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="servico">Serviço</label>
                    <select ng-class="{'is-invalid': vm.error.servico}" ng-options="item as item.descricao for item in vm.servicos track by item.id"
                        ng-model="vm.registroItem.servico" class="form-control" ng-change="vm.registroItem.valorUnitario = vm.registroItem.servico.valor">
                    </select>
                    <small ng-if="vm.error.servico" class="invalid-feedback">
                        {{vm.error.servico[1]}}
                    </small>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="quantidade">Quantidade</label>
                        <input type="text" ng-class="{'is-invalid': vm.error.quantidade}" ng-change="vm.calcularItem()" ng-model="vm.registroItem.quantidade"
                            class="form-control text-right" id="quantidade" ui-number-mask>
                        <small ng-if="vm.error.servico" class="invalid-feedback">
                            {{vm.error.quantidade[1]}}
                        </small>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="valorUnitario">Valor Unitário</label>
                        <input type="text" ng-class="{'is-invalid': vm.error.valorUnitario}" ng-change="vm.calcularItem()" ng-model="vm.registroItem.valorUnitario"
                            class="form-control text-right" id="valorUnitario" placeholder="R$ 0,00" ui-money-mask>
                        <small ng-if="vm.error.servico" class="invalid-feedback">
                            {{vm.error.valorUnitario[1]}}
                        </small>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="valorTotal">Valor Total</label>
                        <input type="text" disabled ng-model="vm.registroItem.valorTotal" class="form-control text-right" id="valorTotal" placeholder="R$ 0,00"
                            ui-money-mask>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="vm.salvarItem()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>