<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Novo Pacote</h1>
</div>

<form>
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input ng-model="vm.registro.descricao" type="text" class="form-control" id="descricao" placeholder="Digite o nome">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="especificacao">Especificação</label>
            <input ng-model="vm.registro.especificacao" type="text" class="form-control" id="especificacao">
        </div>
        <div class="form-group col-md-6">
            <label for="secoes">Seções</label>
            <input ng-model="vm.registro.secoes" type="text" class="form-control" id="secoes">
        </div>
        <div class="form-group col-md-6">
            <label for="valorSecao">Valor seção</label>
            <input ng-model="vm.registro.valorSecao" type="text" class="form-control" id="valorSecao">
        </div>
        <div class="form-group col-md-6">
            <label for="valorTotal">Valor total</label>
            <input ng-model="vm.registro.valorTotal" type="text" class="form-control" id="valorTotal">
        </div>
    </div>
    <div class="form-row justify-content-end">
        <button ng-click="vm.salvar()" type="button" class="btn btn-primary mr-2">Salvar</button>
        <a ui-sref="Pacotes" class="btn btn-danger">Cancelar</a>
    </div>
</form>