<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Listagem de Pacotes</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a ui-sref="Novo Pacote" class="btn btn-success">
            <i class="fas fa-plus-circle"></i>
            Novo
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Especificação</th>
                <th>Seções</th>
                <th>Valor seção</th>
                <th>Valor total</th>
                <th class="text-right">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.registros">
                <td>{{item.id}}</td>
                <td>{{item.descricao}}</td>
                <td>{{item.especificacao}}</td>
                <td>{{item.secoes}}</td>
                <td>{{item.valorSecao}}</td>
                <td>{{item.valorTotal}}</td>
                <td class="text-right">
                    <button class="btn btn-sm btn-link">
                        <i class="far fa-edit"></i>
                    </button>
                    <button ng-click="vm.remove(item.id)" class="btn btn-sm btn-link">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>