<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Novo Cliente</h1>
</div>

<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input ng-model="vm.registro.nome" type="text" class="form-control" id="nome" placeholder="Digite o nome">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="telefone">Telefone</label>
            <input ng-model="vm.registro.telefone" type="text" class="form-control" id="telefone">
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input ng-model="vm.registro.email" type="text" class="form-control" id="email">
        </div>
    </div>
    <div class="form-row justify-content-end">
        <button ng-click="vm.salvar()" type="button" class="btn btn-primary mr-2">Salvar</button>
        <a ui-sref="Clientes" class="btn btn-danger">Cancelar</a>
    </div>
</form>